administraClima/Service References/SRClima/ClimaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_controlClima.modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_controlClima.modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51371/ClimaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOftlbusuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tlbusuario" nillable="true" type="tns:tlbusuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftlbusuario" nillable="true" type="tns:ArrayOftlbusuario" />
  <xs:complexType name="tlbusuario">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ideusuario" type="xs:int" />
          <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tlbusuario" nillable="true" type="tns:tlbusuario" />
  <xs:complexType name="ArrayOftblzona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblzona" nillable="true" type="tns:tblzona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblzona" nillable="true" type="tns:ArrayOftblzona" />
  <xs:complexType name="tblzona">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="idezona" type="xs:int" />
          <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tblzona" nillable="true" type="tns:tblzona" />
  <xs:complexType name="ArrayOftblclima">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblclima" nillable="true" type="tns:tblclima" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblclima" nillable="true" type="tns:ArrayOftblclima" />
  <xs:complexType name="tblclima">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechayhora" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ideclima" type="xs:int" />
          <xs:element minOccurs="0" name="idezona" type="xs:int" />
          <xs:element minOccurs="0" name="presipitacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="temperatura" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="viento" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tblclima" nillable="true" type="tns:tblclima" />
</xs:schema>